<wtsSearchFilters class="main-search" ng-controller="AccordionCtrl">
	<div class="row search-box">

			<uib-accordion class="col-md-2 col-sm-2" close-others="oneAtATime">
				<uib-accordion-group heading="Pictures" is-open="true">
					<label><input type="checkbox" id="pictures-checkbox" checked="checked">Only with pictures</label>
				</uib-accordion-group>	<!-- end of pictures -->
				<uib-accordion-group class="input-group" heading="With ingredients">
					<input type="text" class="form-control" id="included-ingredients" placeholder="ingredients" aria-describedby="basic-addon1">
					<p class="input-explanation">(separated by space)</p>
				</uib-accordion-group><!-- end of with ingredients -->
				<uib-accordion-group class="input-group" heading="Without ingredients">
					<input type="text" class="form-control" id="excluded-ingredients" placeholder="ingredients" aria-describedby="basic-addon1">
					<p class="input-explanation">(separated by space)</p>
				</uib-accordion-group><!-- end of without ingredients -->
				<uib-accordion-group class="filters" id="allergies" heading="Allergies">

					<div class="checkbox-allergies" id="dairy">
						<label><input type="checkbox" class="allergies" value="396^Dairy-Free"> Dairy</label>
					</div>
					<div class="checkbox-allergies" id="egg">
						<label><input type="checkbox" class="allergies" value="397^Egg-Free"> Egg</label>
					</div>
					<div class="checkbox-allergies" id="gluten">
						<label><input type="checkbox" class="allergies" value="393^Gluten-Free"> Gluten</label>
					</div>
					<div class="checkbox-allergies" id="peanut">
						<label><input type="checkbox" class="allergies" value="394^Peanut-Free"> Peanut</label>
					</div>
					<div class="checkbox-allergies" id="seafood">
						<label><input type="checkbox" class="allergies" value="398^Seafood-Free"> Seafood</label>
					</div>
					<div class="checkbox-allergies" id="sesame">
						<label><input type="checkbox" class="allergies" value="399^Sesame-Free"> Sesame</label>
					</div>
					<div class="checkbox-allergies" id="soy">
						<label><input type="checkbox" class="allergies" value="400^Soy-Free"> Soy</label>
					</div>			
					<div class="checkbox-allergies" id="sulfite">
						<label><input type="checkbox" class="allergies" value="401^Sulfite-Free"> Sulfite</label>
					</div>			
					<div class="checkbox-allergies" id="tree-nut">
						<label><input type="checkbox" class="allergies" value="395^Tree Nut-Free"> Tree Nut</label>
					</div>			
					<div class="checkbox-allergies" id="wheat">
						<label><input type="checkbox" class="allergies" value="392^Wheat-Free"> Wheat</label>				
					</div>
				</uib-accordion-group> <!-- end of allergies -->
				<uib-accordion-group class="filters" id="diets" heading="Diets">
					<div class="checkbox-diets" id="lacto-vegetarian">
						<label><input type="checkbox" class="diets" value="388^Lacto vegetarian"> Lacto vegetarian</label>
					</div>
					<div class="checkbox-alergies" id="ovo-vegetarian">
						<label><input type="checkbox" class="diets" value="389^Ovo vegetarian"> Ovo vegetarian</label>
					</div>
					<div class="checkbox-alergies" id="pescetarian">
						<label><input type="checkbox" class="diets" value="390^Pescetarian"> Pescetarian</label>
					</div>
					<div class="checkbox-alergies" id="vegan">
						<label><input type="checkbox" class="diets" value="386^Vegan"> Vegan</label>
					</div>
					<div class="checkbox-alergies" id="vegetarian">
						<label><input type="checkbox" class="diets" value="387^Lacto-ovo vegetarian"> Vegetarian</label>
					</div>
				</uib-accordion-group><!-- end of diets -->
				<uib-accordion-group class="filters" id="included-cuisines" heading="Include cuisines">
					<div class="checkbox-cuisines" id="american">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-american"> American</label>
					</div>
					<div class="checkbox-cuisines" id="italian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-italian"> Italian</label>
					</div>
					<div class="checkbox-cuisines" id="asian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-asian"> Asian</label>
					</div>
					<div class="checkbox-cuisines" id="mexican">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-mexican"> Mexican</label>
					</div>
					<div class="checkbox-cuisines" id="southern-soul">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-southern-soul"> Southern &amp; Soul Food</label>
					</div>
					<div class="checkbox-cuisines" id="french">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-french"> French</label>
					</div>
					<div class="checkbox-cuisines" id="southwestern">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-southwestern"> Southwestern</label>
					</div>			
					<div class="checkbox-cuisines" id="barbecue">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-barbecue"> Barbecue</label>
					</div>			
					<div class="checkbox-cuisines" id="indian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-indian"> Indian</label>
					</div>			
					<div class="checkbox-cuisines" id="chinese">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-chinese"> Chinese</label>				
					</div>
					<div class="checkbox-cuisines" id="cajun-creole">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-cajun-creole"> Cajun &amp; Creole</label>				
					</div>
					<div class="checkbox-cuisines" id="english">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-english"> English</label>				
					</div>
					<div class="checkbox-cuisines" id="mediterranean">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-mediterranean"> Mediterranean</label>				
					</div>
					<div class="checkbox-cuisines" id="greek">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-greek"> Greek</label>				
					</div>
					<div class="checkbox-cuisines" id="spanish">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-spanish"> Spanish</label>				
					</div>
					<div class="checkbox-cuisines" id="german">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-german"> German</label>				
					</div>				
					<div class="checkbox-cuisines" id="thai">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-thai"> Thai</label>				
					</div>				
					<div class="checkbox-cuisines" id="moroccan">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-moroccan"> Moroccan</label>	
					</div>
					<div class="checkbox-cuisines" id="irish">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-irish"> Irish</label>	
					</div>
					<div class="checkbox-cuisines" id="japanese">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-japanese"> Japanese</label>	
					</div>
					<div class="checkbox-cuisines" id="cuban">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-cuban"> Cuban</label>	
					</div>
					<div class="checkbox-cuisines" id="hawaiin">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-hawaiin"> Hawaiin</label>	
					</div>
					<div class="checkbox-cuisines" id="swedish">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-swedish"> Swedish</label>	
					</div>
					<div class="checkbox-cuisines" id="hungarian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-hungarian"> Hungarian</label>	
					</div>
					<div class="checkbox-cuisines" id="portugese">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-portugese"> Portugese</label>	
					</div>
				</uib-accordion-group> <!-- end of included-cuisines -->
				<uib-accordion-group class="filters" id="excluded-cuisines" heading="Exclude cuisines">
					<div class="checkbox-cuisines" id="american">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-american"> American</label>
					</div>
					<div class="checkbox-cuisines" id="italian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-italian"> Italian</label>
					</div>
					<div class="checkbox-cuisines" id="asian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-asian"> Asian</label>
					</div>
					<div class="checkbox-cuisines" id="mexican">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-mexican"> Mexican</label>
					</div>
					<div class="checkbox-cuisines" id="southern-soul">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-southern-soul"> Southern &amp; Soul Food</label>
					</div>
					<div class="checkbox-cuisines" id="french">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-french"> French</label>
					</div>
					<div class="checkbox-cuisines" id="southwestern">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-southwestern"> Southwestern</label>
					</div>			
					<div class="checkbox-cuisines" id="barbecue">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-barbecue"> Barbecue</label>
					</div>			
					<div class="checkbox-cuisines" id="indian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-indian"> Indian</label>
					</div>			
					<div class="checkbox-cuisines" id="chinese">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-chinese"> Chinese</label>				
					</div>
					<div class="checkbox-cuisines" id="cajun-creole">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-cajun-creole"> Cajun &amp; Creole</label>				
					</div>
					<div class="checkbox-cuisines" id="english">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-english"> English</label>				
					</div>
					<div class="checkbox-cuisines" id="mediterranean">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-mediterranean"> Mediterranean</label>				
					</div>
					<div class="checkbox-cuisines" id="greek">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-greek"> Greek</label>				
					</div>
					<div class="checkbox-cuisines" id="spanish">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-spanish"> Spanish</label>				
					</div>
					<div class="checkbox-cuisines" id="german">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-german"> German</label>				
					</div>				
					<div class="checkbox-cuisines" id="thai">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-thai"> Thai</label>				
					</div>				
					<div class="checkbox-cuisines" id="moroccan">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-moroccan"> Moroccan</label>	
					</div>
					<div class="checkbox-cuisines" id="irish">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-irish"> Irish</label>	
					</div>
					<div class="checkbox-cuisines" id="japanese">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-japanese"> Japanese</label>	
					</div>
					<div class="checkbox-cuisines" id="cuban">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-cuban"> Cuban</label>	
					</div>
					<div class="checkbox-cuisines" id="hawaiin">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-hawaiin"> Hawaiin</label>	
					</div>
					<div class="checkbox-cuisines" id="swedish">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-swedish"> Swedish</label>	
					</div>
					<div class="checkbox-cuisines" id="hungarian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-hungarian"> Hungarian</label>	
					</div>
					<div class="checkbox-cuisines" id="portugese">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-portugese"> Portugese</label>	
					</div>
				</uib-accordion-group> <!-- end of excluded-cuisines -->
			</uib-accordion><!-- end filters-->
			<div class="col-md-5 col-sm-5 recipe-list">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for a recipe" id="searchRecipe">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="searchButton">Go!</button>
					</span>

				</div><!-- /input-group -->
				<p>brownie</p>
				<div class="row" id="searchResults">
		
				</div>
			</div><!-- end col-md-4 search box-->
			<div class="col-md-5 col-sm-5 recipe-more-info">
				
			</div>
		<script type="text/javascript-lazy">
			loadjscssfile("./js/yummlySearch.js", "js");
		</script>
	</script>
</wtsSearchFilters>
